@import '@/common/styles/colors';

.card {
    width: 500px !important;
    min-height: 400px;
    background: $light_blue !important;
    box-shadow: none !important;
    border-radius: 15px !important;
    padding: 25px;
    margin: 0 35px;

    * {
        text-overflow: ellipsis !important;
    }

    .avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .text {
        text-overflow: ellipsis;
    }
}
