@import '@/common/styles/variables';
@import '@/common/styles/colors';

.hero {
    height: calc(100vh - #{$navbar_height});
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url("@/assets/images/background-1.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    animation: 15s linear infinite changeBackground, 15s linear infinite translateBackground;

    .main-text {
        color: #fff;
        text-align: center;
        margin-top: 70px;

        h2 {
            font-size: 45px;
        }

        p {
            font-size: 25px;
        }
    }

    .search-form {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        padding: 10px;
        margin-top: 200px;

        &__input {
            height: 40px;
            flex: 1;
            margin-left: 20px;

            input {
                width: 100%;
                height: 100%;
                font-size: 19px;
                font-weight: 500;
                color: gray;
            }
        }

        &__input:not(:last-of-type) {
            border-right: 1px solid $light_gray;
        }

        &__button {
            background: $red;
            color: #fff;
            font-size: 19px;
            font-weight: 600;
            border-radius: 25px;
            padding: 15px 50px;
            cursor: pointer;
        }
    }
}

@keyframes changeBackground {
    0% {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url("@/assets/images/background-1.jpg");
    }


    50% {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url("@/assets/images/background-2.jpg");
    }

    100% {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url("@/assets/images/background-3.jpg");
    }
}

@keyframes translateBackground {
    from {
        background-position: top center;
    }

    to {
        background-position: center left;
    }
}
